[package]
name = "opus4j"
version = "2.0.2"
edition = "2021"

[dependencies]
jni = "0.21.1"
opus = "0.3.0"

[lib]
crate_type = ["cdylib"]

[profile.release]
lto = true
codegen-units = 1
opt-level = "s"
panic = "abort"
strip = "symbols"
debug = false
